<a href="https://colab.research.google.com/github/eleaz1/DataAnalist/blob/main/Clases/Clase17_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from scipy import stats

In [ ]:
!pip install tableone

Requirement already satisfied: tableone in /usr/local/lib/python3.10/dist-packages (0.8.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from tableone) (3.1.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from tableone) (1.25.2)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (from tableone) (3.1.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from tableone) (2.0.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from tableone) (1.11.4)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.10/dist-packages (from tableone) (0.14.1)
Requirement already satisfied: tabulate in /usr/local/lib/python3.10/dist-packages (from tableone) (0.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->tableone) (2.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl->tableone) (1.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->tableone) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->tableone) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->tableone) (2024.1)
Requirement already satisfied: patsy>=0.5.4 in /usr/local/lib/python3.10/dist-packages (from statsmodels->tableone) (0.5.6)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels->tableone) (24.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.4->statsmodels->tableone) (1.16.0)

In [ ]:
from tableone import TableOne
df = pd.read_csv("https://raw.githubusercontent.com/it-ces/Datasets/main/icfes.csv")

In [ ]:
target = 'PUNT_GLOBAL'
group =  'COLE_NATURALEZA'

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [ ]:
df.columns

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

Index(['Unnamed: 0', 'ESTU_TIPODOCUMENTO', 'ESTU_NACIONALIDAD', 'ESTU_GENERO',
       'ESTU_FECHANACIMIENTO', 'PERIODO', 'ESTU_CONSECUTIVO',
       'ESTU_ESTUDIANTE', 'ESTU_PAIS_RESIDE', 'ESTU_TIENEETNIA',
       'ESTU_DEPTO_RESIDE', 'ESTU_COD_RESIDE_DEPTO', 'ESTU_MCPIO_RESIDE',
       'ESTU_COD_RESIDE_MCPIO', 'FAMI_EDUCACIONPADRE', 'FAMI_EDUCACIONMADRE',
       'FAMI_ESTRATOVIVIENDA', 'FAMI_PERSONASHOGAR', 'FAMI_CUARTOSHOGAR',
       'FAMI_TIENEINTERNET', 'FAMI_TIENECOMPUTADOR', 'FAMI_TIENELAVADORA',
       'FAMI_TIENEHORNOMICROOGAS', 'FAMI_TIENESERVICIOTV',
       'FAMI_TIENEAUTOMOVIL', 'FAMI_TIENEMOTOCICLETA',
       'FAMI_TIENECONSOLAVIDEOJUEGOS', 'FAMI_NUMLIBROS',
       'ESTU_DEDICACIONLECTURADIARIA', 'ESTU_DEDICACIONINTERNET',
       'ESTU_HORASSEMANATRABAJA', 'ESTU_TIPOREMUNERACION',
       'FAMI_COMELECHEDERIVADOS', 'FAMI_COMECARNEPESCADOHUEVO',
       'FAMI_COMECEREALFRUTOSLEGUMBRE', 'FAMI_TRABAJOLABORPADRE',
       'FAMI_TRABAJOLABORMADRE', 'FAMI_SITUACIONECONOMICA',
       'COLE_COD_DANE_ESTABLECIMIENTO', 'COLE_CODIGO_ICFES',
       'COLE_NOMBRE_ESTABLECIMIENTO', 'COLE_JORNADA', 'COLE_GENERO',
       'COLE_NATURALEZA', 'COLE_CALENDARIO', 'COLE_BILINGUE', 'COLE_CARACTER',
       'COLE_COD_DANE_SEDE', 'COLE_NOMBRE_SEDE', 'COLE_SEDE_PRINCIPAL',
       'COLE_AREA_UBICACION', 'COLE_COD_MCPIO_UBICACION',
       'COLE_MCPIO_UBICACION', 'COLE_COD_DEPTO_UBICACION',
       'COLE_DEPTO_UBICACION', 'ESTU_PRIVADO_LIBERTAD',
       'ESTU_COD_MCPIO_PRESENTACION', 'ESTU_MCPIO_PRESENTACION',
       'ESTU_DEPTO_PRESENTACION', 'ESTU_COD_DEPTO_PRESENTACION',
       'PUNT_MATEMATICAS', 'DESEMP_MATEMATICAS', 'PERCENTIL_MATEMATICAS',
       'PUNT_INGLES', 'PERCENTIL_INGLES', 'DESEMP_INGLES', 'PUNT_C_NATURALES',
       'DESEMP_C_NATURALES', 'PERCENTIL_C_NATURALES', 'PUNT_LECTURA_CRITICA',
       'DESEMP_LECTURA_CRITICA', 'PERCENTIL_LECTURA_CRITICA',
       'PUNT_SOCIALES_CIUDADANAS', 'DESEMP_SOCIALES_CIUDADANAS',
       'PERCENTIL_SOCIALES_CIUDADANAS', 'PUNT_GLOBAL', 'PERCENTIL_GLOBAL',
       'PERCENTIL_ESPECIAL_GLOBAL', 'ESTU_INSE_INDIVIDUAL',
       'ESTU_NSE_INDIVIDUAL', 'ESTU_NSE_ESTABLECIMIENTO',
       'ESTU_ESTADOINVESTIGACION'],
      dtype='object')

In [ ]:
df = df[['PUNT_SOCIALES_CIUDADANAS', 'PUNT_GLOBAL',  'PUNT_MATEMATICAS' ,   'PUNT_INGLES' , 'COLE_NATURALEZA' ]]

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [ ]:
def classify_vars(df):
    categorial, nonormal, normal = [],[],[]
    for t in df.columns:
        if df[t].dtypes=="object" or df[t].dtypes.name=='category':
            categorial.append(t)
        if df[t].dtypes=="int64" or df[t].dtypes=="float64":
            n,p = stats.shapiro(df[t])
            if p<0.05:
                nonormal.append(t)
            else:
                normal.append(t)
    return categorial, nonormal, normal

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [ ]:
categorial, nonormal, normal = classify_vars(df)

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [ ]:
mytable = TableOne(df,categorical=categorial, nonnormal=nonormal, groupby='COLE_NATURALEZA', pval=True, pval_test_name=True )

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)
/usr/local/lib/python3.10/dist-packages/tableone/tableone.py:242: DeprecationWarning: The pval_test_name argument is deprecated; use htest_name instead.
  warnings.warn("The pval_test_name argument is deprecated; use "

In [ ]:
mytable

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

                                                    Grouped by COLE_NATURALEZA
                                                                       Missing              Overall           NO OFICIAL              OFICIAL P-Value               Test
n                                                                                              2600                  580                 2020
PUNT_SOCIALES_CIUDADANAS, median [Q1,Q3]                                     0     47.0 [38.0,56.2]     52.5 [42.0,61.2]     46.0 [37.0,55.0]  <0.001     Kruskal-Wallis
PUNT_GLOBAL, median [Q1,Q3]                                                  0  246.0 [208.0,286.0]  274.0 [226.8,313.0]  241.0 [205.0,279.0]  <0.001     Kruskal-Wallis
PUNT_MATEMATICAS, median [Q1,Q3]                                             0     51.0 [42.0,59.0]     55.0 [45.0,64.0]     50.0 [41.0,58.0]  <0.001     Kruskal-Wallis
PUNT_INGLES, mean (SD)                                                      12          49.7 (12.9)          56.3 (14.8)          47.8 (11.6)  <0.001  Two Sample T-test
COLE_NATURALEZA, n (%)                   NO OFICIAL                          0           580 (22.3)          580 (100.0)                       <0.001        Chi-squared
                                         OFICIAL                                        2020 (77.7)                              2020 (100.0)