<a href="https://colab.research.google.com/github/eleaz1/DataAnalist/blob/main/Clases/TableOneTest2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install tableone

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

Requirement already satisfied: tableone in /usr/local/lib/python3.10/dist-packages (0.8.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from tableone) (3.1.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from tableone) (1.25.2)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (from tableone) (3.1.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from tableone) (2.0.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from tableone) (1.11.4)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.10/dist-packages (from tableone) (0.14.1)
Requirement already satisfied: tabulate in /usr/local/lib/python3.10/dist-packages (from tableone) (0.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->tableone) (2.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl->tableone) (1.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->tableone) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->tableone) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->tableone) (2024.1)
Requirement already satisfied: patsy>=0.5.4 in /usr/local/lib/python3.10/dist-packages (from statsmodels->tableone) (0.5.6)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels->tableone) (24.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.4->statsmodels->tableone) (1.16.0)

In [ ]:
def classify_vars(df):
    categorial, nonormal, normal = [],[],[]
    for t in df.columns:
        if df[t].dtypes=="object" or df[t].dtypes.name=='category':
            categorial.append(t)
        if df[t].dtypes=="int64" or df[t].dtypes=="float64":
            n,p = stats.shapiro(df[t])
            if p<0.05:
                nonormal.append(t)
            else:
                normal.append(t)
    return categorial, nonormal, normal

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [ ]:
import pandas as pd
from scipy import stats
from tableone import TableOne
URL = "https://raw.githubusercontent.com/it-ces/Datasets/main/wbdata-gdp-co2.csv"
df = pd.read_csv(URL)

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [ ]:
df.columns

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

Index(['value', 'region', 'incomeLevel', 'Gdp2020', 'Co22020'], dtype='object')

In [ ]:
df = df[['region', 'Co22020', 'incomeLevel']]

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [ ]:
categorical, nonormal, normal = classify_vars(df)

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [ ]:
df  = df[df['incomeLevel']!='INX']

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [ ]:
mytable = TableOne( df , categorical=categorical , nonnormal=nonormal, groupby='incomeLevel', pval=True, pval_test_name=True )

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)
/usr/local/lib/python3.10/dist-packages/tableone/tableone.py:242: DeprecationWarning: The pval_test_name argument is deprecated; use htest_name instead.
  warnings.warn("The pval_test_name argument is deprecated; use "

In [ ]:
mytable

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

                       Grouped by incomeLevel
                                      Missing    Overall         HIC         LIC         LMC         UMC P-Value                                       Test
n                                                    216          82          26          54          54
region, n (%)      EAS                      0  37 (17.1)   14 (17.1)     1 (3.8)   13 (24.1)    9 (16.7)  <0.001  Chi-squared (warning: expected count < 5)
                   ECS                         58 (26.9)   38 (46.3)                 4 (7.4)   16 (29.6)
                   LCN                         41 (19.0)   18 (22.0)                 4 (7.4)   19 (35.2)
                   MEA                          21 (9.7)     8 (9.8)     2 (7.7)    8 (14.8)     3 (5.6)
                   NAC                           3 (1.4)     3 (3.7)
                   SSF                         48 (22.2)     1 (1.2)   22 (84.6)   19 (35.2)    6 (11.1)
                   SAS                           8 (3.7)                 1 (3.8)    6 (11.1)     1 (1.9)
Co22020, mean (SD)                         26  3.8 (4.6)   7.8 (5.9)   0.3 (0.4)   1.4 (1.4)   3.6 (2.7)  <0.001                              One-way ANOVA
incomeLevel, n (%) HIC                      0  82 (38.0)  82 (100.0)                                      <0.001  Chi-squared (warning: expected count < 5)
                   LIC                         26 (12.0)              26 (100.0)
                   LMC                         54 (25.0)                          54 (100.0)
                   UMC                         54 (25.0)                                      54 (100.0)
[1] Chi-squared tests for the following variables may be invalid due to the low number of observations: region, incomeLevel.